.image-house{
    width:100%;
    height: 150px;
}

.row{
    margin-bottom: 20px;
}

#content{
    padding: 10px;
}

.image-map{
    width:100%;
    height: 300px;
}

.image-school{
    height: 300px;
}

.modalDisplayBlock{
    display: block;
}

.IframePage{
    width: 100%;
    height: 600px;
    min-width: 400px;
}

/* .ui-datepicker-current-day .ui-state-active{
    background: greenyellow; 
} */

.ui-state-highlight.ui-state-default{
    background:yellow;
    }

.no-border-table{
    border:none;
}

footer{
    font-size: 80%;
    font-family: serif;
}

footer .row{
    /* padding-top: 10px; */
    border-top: solid;
    border-width: thin;
    margin-top: 10px;
}

footer .border-right{
    margin-top: 10px;
    border-right-width: thin !important;
    border-right: solid;
}